@font-face {
 font-family:abril-text;
 src:url(https://use.typekit.net/af/c70000/0000000000000000000119bd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/c70000/0000000000000000000119bd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/c70000/0000000000000000000119bd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
 font-weight:400;
 font-style:normal;
}
@font-face {
 font-family:abril-text;
 src:url(https://use.typekit.net/af/8c6b3b/0000000000000000000119be/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/8c6b3b/0000000000000000000119be/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/8c6b3b/0000000000000000000119be/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
 font-weight:400;
 font-style:italic;
}
@font-face {
 font-family:abril-text;
 src:url(https://use.typekit.net/af/ab516d/0000000000000000000119a8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3) format("woff2"),url(https://use.typekit.net/af/ab516d/0000000000000000000119a8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3) format("woff"),url(https://use.typekit.net/af/ab516d/0000000000000000000119a8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3) format("opentype");
 font-weight:600;
 font-style:italic;
}
@font-face {
 font-family:abril-display;
 src:url(https://use.typekit.net/af/f8a954/0000000000000000000119ab/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/f8a954/0000000000000000000119ab/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/f8a954/0000000000000000000119ab/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
 font-weight:400;
 font-style:italic;
}

@font-face {
 font-family:johnston;
 src:url(../webfonts/johnston-bold.eot);
 src:url(../webfonts/johnston-bold.eot?#iefix) format("embedded-opentype"),url(../webfonts/johnston-bold.woff) format("woff"),url(../webfonts/johnston-bold.ttf) format("truetype");
 font-weight:700;
 font-style:normal;
}

html {
	@media all and (max-width:1699px) {
		font-size: 16px;
	}
	@media all and (max-width:1219px) {
		font-size:14px;
	}
	font-size: 22px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*="inner"] {
	width:1350px;
	box-sizing: border-box;
	
	@media all and (min-width: 769px) and (max-width:1219px) {
		width: 648px;
	}

	@media all and (min-width: 1219px) and(max-width:1699px) {
		width: 980px;
	}

	@media all and (max-width:768px) {
		width: 100%;
		padding-left: 2.142857143rem;
		padding-right: 2.142857143rem;
	}	
}

