/* 
  http://css-tricks.com/naming-media-queries/
  
  Usage:	
 	.selector {
 	  width: 25%;
 	  @include bp(S) {
 	    width: 100%;
 	  }
 	}
*/


@mixin bp($point) {
	@if $point == XXL { 
		@media (max-width: 1699px) { @content; }
	}
	@if $point == XL {
		@media (max-width: 1219px) { @content; }
	}
	@else if $point == L { 
		@media (max-width: 900px) { @content; }
	}
	@else if $point == M { 
		@media (max-width: 768px)  { @content; }
	}
	@else if $point == S { 
		@media (max-width: 660px)  { @content; }
	}
	@else if $point == XS { 
		@media (max-width: 550px)  { @content; }
	}
	@else if $point == XXS { 
		@media (max-width: 460px)  { @content; }
	}

		@if $point == min-XXL { 
		@media (min-width: 1220px) { @content; }
	}
	@if $point == min-XL {
		@media (min-width: 901px) { @content; }
	}
	@else if $point == min-L { 
		@media (min-width: 769px) { @content; }
	}
	@else if $point == min-M { 
		@media (min-width: 661px)  { @content; }
	}
	@else if $point == min-S { 
		@media (min-width: 551px)  { @content; }
	}
	@else if $point == min-XS { 
		@media (min-width: 461px)  { @content; }
	}
	@else if $point == min-XXS { 
		@media (min-width: 320px)  { @content; }
	}
}
// 1699
// 1219
// 900
// 768
// 660
// 550
// 460
